langchain
streamlit
streamlit-feedback
streamlit-authenticator
unstructured
unstructured[pdf]
chromadb
sentence-transformers 
langchain-community
langchain-chroma
langchain-huggingface
langchainhub
langgraph
rank_bm25
opencc
hanlp
