langchain
streamlit
unstructured
unstructured[pdf]
# openai
chromadb
# tiktoken
sentence-transformers 
langchain-community
langchain-openai
chinese-converter==1.1.1
langchain-huggingface
stqdm
langchainhub
